/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 82px 50px 82px 50px;
  font-size: 18px;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 135px;
  height: 121px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

/* убрать маркер списка у первого раздела в меню*/
.header__links-list-item:first-child {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  min-height: 757px;
  z-index: 0;
}

/* оверлей через псевдоэлемент */
.overlay::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  inset: 0; /* использовала сокращение для отступов */
  z-index: -1;
}

.cover__title {
  text-transform: uppercase;
  font-size: 100px;
  color: #fff;
  font-weight: bold;
  padding: 168px 20px 106px 50px;
}

.cover__title span {
  display: block;
  line-height: 1.15;
}

.aligned-text {
  text-align: center;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: left;
  margin-bottom: 21px;
}

.aligned-text_center {
  text-align: center;
  margin-bottom: 21px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  gap: 6px;
  font-size: 22px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
}

.cover__description-text {
  line-height: 1.2;
  padding: 15px 100px 0px 50px;
}

.word-spacing {
  word-spacing: 0.85em;
}

.cover__bet-button {
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  padding: 12px 31px 12px 31px;
  border: 1px solid #fff;
  background: transparent;
}

.lots {
  padding: 190px 24px 120px 24px;
}

.lots__heading {
  padding: 0 0px 28px 40px;
  line-height: 1;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  line-height: 1.2;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  flex-grow: 1;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  padding: 48px 40px 0 40px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  display: flex;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  padding: 0px 40px 48px 40px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  color: #000;
  margin: 34px 0 0 41px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: auto auto;
  padding: 0 24px 180px 24px;
}

.about__column_logo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: 138px 0 105px 24px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  padding: 0 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px 50px;
}

.footer__address {
  max-width: 264px;
}

.footer__menu-list {
  line-height: 1.21;
}

.footer__menu-list-item {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

/* расположить иконки социальных сетей в ряд */
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
